<div class="navb">
    <%= link_to "WatchList", root_path, class: "log" %>
  <nav>
    <div class="nav__links">
      <div><%= link_to "My Lists", root_path, class: "lin" %></div>
      <div><%= link_to 'add new list', new_list_path, class: "lin"%></div>
    </div>
  </nav>
</div>
