#banner-title {
  color: white;
  text-align: center;
  padding: 2px;
  flex-grow: 1;
}
.list-banner {
  flex-grow: 0;
  border-radius: 4px;
  height: 210px;
  background-image: url('https://res.cloudinary.com/mark14/image/upload/v1650731495/zlw5gxpauzpdyyuw2c1c.jpg');
  background-size: cover;
}
