#banner-title {
  color: $pink;
  text-align: center;
  padding: 2px;
  flex-grow: 1;
}
a {
  text-decoration: none;
  color: $grey;
}

.list-item a:hover {
  color: $grey;
}
body{
  background-color: $grey;
}
.flex-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list-item{
  height: 144px;
  padding: 0px 20px;
  border-radius: 8px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $pink;
  font-weight: bolder;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: .3s ease-in-out;
}

.list-item:hover{
  background-color: $dpink;
}


.delete-list{
  font-size: 12px;
  position: absolute;
  top: 3px;
  right: 3px;
}

// @media (max-width: 1200px) {
//   .col{
//     flex: 1 0 18%;
//   }
// }
// @media (max-width: 992px) {
//   .col{
//     flex: 1 0 28%;
//   }
// }
// @media (max-width: 768px) {
//   .col{
//     flex: 1 0 38%;
//   }
// }
// @media (max-width: 576px) {
//   .col{
//     flex: 1 0 48%;
//   }
// }
