.navb {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  align-items: center;
  background-color: $grey;
  height: 42px;
  border-bottom: 1px solid $pink;
}
.log {
  color: $pink;
  font-size: 16px;
}
.lin {
  color: $pink;
}
.nav__links{
  display: flex;
  gap: 20px;
}
